section{
    margin-top: 40px;
}

.card-box{
    display: flex;
    justify-content: space-evenly;
}

.card-box img{
    width: 275.5px;
    height: 191px;
    /* object-fit: cover; */
}

.card{
    margin: 20px;
}